<script>
	import { mapState } from 'vuex'

	export default {
		data: () => ({
			// Задержка для выключения загрузки
			timeout: 0,

			// Стаус отображения спинера
			hide: false,

			// Статус для анимации исчезнования
			invisible: false
		}),

		computed: {
			...mapState({
				// Состояние загрузки страницы
				load: ({ page }) => page.load
			})
		},

		mounted() {
			this.$nextTick(() => {
				this.update(this.load)
			})
		},

		methods: {
			/**
			 * Обновления отображения спинера
			 * @param {Boolean} status
			 * @return {void}
			 */
		    update(status) {
			    if(status) {
				    clearTimeout(this.timeout)
				    this.hide = false
				    this.$nextTick().then(() => {
					   setTimeout(() => {
						   this.invisible = false
					   }, 0)
				    })
			    } else {
				    clearTimeout(this.timeout)
				    setTimeout(() => {
					    this.invisible = true

					    this.timeout = setTimeout(() => {
						    this.hide = true
					    }, 300)
				    }, 0)
			    }
		    }
		},
		watch: {
			/**
			 * Подписка на изменение состояния згразуки страницы
			 * @param {Boolean} status
			 * @return {void}
			 */
			load(status) {
				this.update(status)
			}
		}
	}
</script>

<style lang="scss">
	.page-content {
		position: relative;
	}
	.spinner {
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100%;
		background-color: rgba(#fff, .5);
		z-index: 99;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.15s ease-out;

		&--hide {
			display: none;
		}

		&--invisible {
			opacity: 0;
		}
	}
</style>