<script>
	import i18nMixin from '~/mixins/i18n'

	export default {
		mixins: [
			i18nMixin
		],

		props: {
			// Название объекта
			title: {
				type: String
			},

			// Уникальное название
			name: {
				type: String
			},

			// Элементы объекта
			items: {
				type: Array,
				default: () => ([])
			}
		},

		data: () => ({
			// Статус редактирвоания
			edit: false,

			// Локальная копия элементов
			localItems: [],

			// Локализация
			i18n: {
				en: {
					'Изменить': 'Edit',
					'Отмена': 'Cancel',
					'Сохранить': 'Save',
					'Выбрать все': 'Select all',
					'Убрать все': 'Deselect all',
				}
			},
		}),
		created() {
			this.$nextTick().then(() => {
				this.updateData()
			})
		},
		methods: {
			/**
			 * Обновление данных объекта
			 * @return {void}
			 */
			updateData() {
				this.localItems.splice(0, this.localItems.length)

				const buffer = []

				for(const item of this.items) {
					const newItem = {
						id: item.id,
						selected: item.selected,
						name: item.name
					}

					buffer.push(newItem)
				}

				this.localItems = buffer
			},

			/**
			 * Переключения состояния редактирования
			 * @return {void}
			 */
			change() {
				if(this.edit) {
					this.edit = false
					this.updateData(true)
				} else {
					this.edit = true
				}
			},

			/**
			 * Выбрать все элементы
			 * @return {void}
			 */
			selectAll() {
				for(const item of this.localItems) {
					item.selected = true
				}
			},

			/**
			 * Снять выделение со всех элементов
			 * @return {void}
			 */
			deselectAll() {
				for(const item of this.localItems) {
					item.selected = false
				}
			},

			/**
			 * Отменить действия
			 * @return {void}
			 */
			cancel() {
				this.edit = false
				this.updateData(true)
			},

			/**
			 * Сохранить выбор элементов
			 * @return {void}
			 */
			save() {
				this.edit = false
				this.$emit('update', {
					name: this.name,
					items: this.localItems
				})
			}
		},
		watch: {
			// Наблюдатель входных данных
			items() {
				this.updateData()
			}
		}
	}
</script>

<template>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				{{ title }}
				<a href="javascript:" data-type="users" class="btn btn-xs blue btn-outline pull-right edit_type" @click="change()">
					<span v-if="!edit">{{ t('Изменить') }}</span>
					<span v-else>{{ t('Отмена') }}</span>
				</a>
			</h3>
		</div>
		<div class="panel-body">
			<div v-if="!edit" class="row">
				<div v-for="item in localItems" :key="item.id" class="col-lg-3 col-md-4 col-sm-6"><a :href="'/users/' + item.id + '/edit'">{{ item.name }}</a></div>
			</div>
			<div v-else class="panel-edit-block">
				<div class="row">
					<div v-for="item in localItems" :key="item.id" class="col-lg-3 col-md-4 col-sm-6">
						<div
							:class="[
							{ 'btn-primary': item.selected },
							{ 'default': !item.selected }
						]"
							@click="item.selected = !item.selected"

							class="btn btn-block margin-bottom-10"
						>
							{{ item.name }}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div class="btn btn-success" @click="selectAll()">{{ t('Выбрать все') }}</div>&nbsp;
						<div class="btn btn-warning" @click="deselectAll()">{{ t('Убрать все') }}</div>
					</div>
					<div class="col-md-7">
						<div class="btn btn-default" @click="cancel()">{{ t('Отмена') }}</div>&nbsp;
						<div class="btn btn-primary save-btn" @click="save()">{{ t('Сохранить') }}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>