<script>
	import i18nMixin from '~/mixins/i18n'
	import { mapState } from 'vuex'
	import { ValidationProvider, ValidationObserver, extend } from 'vee-validate'
	import { required } from 'vee-validate/dist/rules'

	import ProjectObject from './ProjectObject.vue'

	export default {
		mixins: [
			i18nMixin
		],

		components: {
			ValidationObserver,
			ValidationProvider,
			ProjectObject
		},

		data: () => ({
			// Локальное название
			name: '',

			// Локальное описание
			description: '',

			// Локальный список объектов
			objects: [],

			// Локализация
			i18n: {
				en: {
					'Объекты проекта': 'Objects of project',
					'Название проекта': 'Project name',
					'Описание': 'Description',
					'Отмена': 'Cancel',
					'Сохранить': 'Save',
					'Это обязательное поле': 'Required field',
				}
			},
		}),

		computed: {
			...mapState({
				// Данные проекта
				project: ({ data }) => data.project
			})
		},

		created() {
			extend('required', {
				...required,
				message: this.t('Это обязательное поле', [])
			})

			this.$nextTick().then(() => {
				this.updateData()
			})
		},

		methods: {
			/**
			 * Обновление локальных данных
			 * @return {void}
			 */
			updateData() {
				this.name = this.project.name
				this.description = this.project.description
				this.objects.splice(0, this.objects.length)
				this.objects.push(...this.project.objects)
			},

			/**
			 * Отмена действий
			 * @return {void}
			 */
			cancel() {
				this.$router.push({
					path: '/projects'
				})
			},

			/**
			 * Обновление данных объекта
			 * @param {Object} object
			 * @return {Promise}
			 */
			async updateObject(object) {
				return await this.$store.dispatch('UPDATE_PROJECT_OBJECT', {
					id: this.project.id,
					object: object
				})
			},

			/**
			 * Сохранение проекта
			 * @return {Promise}
			 */
			async saveProject() {
				return await this.$store.dispatch('UPDATE_PROJECT', {
					project: {
						id: this.project.id,
						name: this.name,
						description: this.description,
						objects: this.project.objects
					}
				})

			},
		},
		watch: {
			// Подписка на обновление данных
			project() {
				this.updateData()
			}
		}
	}
</script>

<template>
	<div class="project">
		<h1 class="page-title">
			<span>{{ project.name }}</span>
		</h1>
		<div class="form-body form-horizontal">
			<ValidationObserver v-slot="{ invalid }">
				<ValidationProvider rules="required" v-slot="{ errors }">
					<div class="form-group" :class="{ 'has-error': errors.length }">
						<label class="control-label col-md-3">
							{{ t('Название проекта') }}
							<span class="required" aria-required="true"> * </span>
						</label>
						<div class="col-md-4">
							<input type="text" class="form-control" v-model="name">
							<span v-for="error in errors" class="help-block">{{ error }}</span>
						</div>
					</div>
				</ValidationProvider>
				<ValidationProvider rules="required" v-slot="{ errors }">
					<div class="form-group" :class="{ 'has-error': errors.length }">
						<label class="control-label col-md-3">
							{{ t('Описание') }}
							<span class="required" aria-required="true"> * </span>
						</label>
						<div class="col-md-4">
							<input type="text" class="form-control" v-model="description">
							<span v-for="error in errors" class="help-block">{{ error }}</span>
						</div>
					</div>
				</ValidationProvider>
				<div class="form-actions">
					<div class="row">
						<div class="col-md-offset-3 col-md-9">
							<button type="button" class="btn grey-salsa btn-outline" @click="cancel()">{{ t('Отмена') }}</button>&nbsp;
							<button type="submit" class="btn green" :class="{ 'disabled': invalid }" :disabled="invalid" @click="saveProject()">{{ t('Сохранить') }}</button>
						</div>
					</div>
				</div>
			</ValidationObserver>
		</div>
		<h2>{{ t('Объекты проекта') }}</h2>
		<project-object v-for="object in objects" :key="objects.type" v-bind="object" @update="updateObject" />
	</div>
</template>