<script>
	import i18nMixin from '~/mixins/i18n'

	import { mapState } from 'vuex'

	export default {
		mixins: [
			i18nMixin
		],

		data: () => ({
			// Локализация
			i18n: {
				en: {
					'Проекты': 'Projects',
					'Название': 'Name',
					'Описание': 'Description',
				}
			},
		}),

		computed: {
			...mapState({
				// Список проектов
				projects: ({ data }) => data.projects
			})
		}
	}
</script>

<template>
	<div class="projects">
		<h1 class="page-title">{{ t('Проекты') }}</h1>
		<table class="table table-striped table-hover table-advance big-headers">
			<thead>
				<tr>
					<th>{{ t('Название') }}</th>
					<th>{{ t('Описание') }}</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="project in projects" :key="project.id">
					<td>
						<router-link :to="{ path: 'projects/' + project.id }">{{ project.name }}</router-link>
					</td>
					<td v-if="project.description">{{ project.description }}</td>
					<td v-else>—</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>