<script>
	import Project from '~/components/projects/Project.vue'

	export default {
		async asyncData({ store, route }) {
			return await store.dispatch('GET_PROJECT', route.params)
		},
		components: {
			Project
		},
		data: () => ({
			title: null
		})
	}
</script>

<template>
	<project />
</template>