<script>
	import Projects from '~/components/projects/Projects.vue'

	export default {
		async asyncData({ store }) {
			return await store.dispatch('GET_PROJECTS')
		},
		components: {
			Projects
		}
	}
</script>

<template>
	<div>
		<projects />
	</div>
</template>